@import "variables";

.selectLang {
  max-width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  .custom-select-wrapper {
    position: relative;
    width: 100%;
    user-select: none;
    transition: 200ms;
    
    &:hover .custom-style__trigger,
    &:hover .arrow:after,
    &:hover .arrow:before {
      text-shadow: $textGlow;
      color: #FFFFFF;
      box-shadow: $textGlow;
    }
  }

  .custom-style {
    display: flex;
    flex-direction: column;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: $buttonBg;
  }

  .custom-style__trigger {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    cursor: pointer;
    color: $inactiveText;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: $buttonBg;
    background: $buttonBg;
    border-radius: 10px;
    transition: 100ms;
    height: 50px;
  }

  .custom-options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: block;
    visibility: hidden;
    transition: all 0.5s;
    pointer-events: none;
    opacity: 0;
    border: 2px solid transparent;
    border-top: 0;
    background: lighten($buttonBg, 40%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .custom-style.open .custom-options {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  .custom-style.open .custom-style__trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  

  .custom-option {
    font-size: 22px;
    font-weight: 300;
    line-height: 60px;
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    cursor: pointer;
    transition: all 0.5s;
    color: $textColor;
  }

  .custom-option:hover {
    cursor: pointer;
    background-color: lighten($buttonBg, 30%);
    text-shadow: $textGlow;
  }

  .custom-option.selected {
    text-shadow: $textGlow;
    font-weight: 700;
  }

  .arrow {
    position: relative;
    width: 15px;
    height: 15px;
  }

  .arrow::before,
  .arrow::after {
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    content: "";
    transition: all 0.5s;
  }

  .arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: $textColor;
  }

  .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: $textColor;
  }

  .open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
  }

  .open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
  }
}

.unit {
  
  &__item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: lighten($buttonBg, 0%);
    text-align: center;
    line-height: 50px;
    color: $inactiveText;
    padding-right: 5px;
    cursor: pointer;
    transition: 200ms;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &:hover {
      background: lighten($buttonBg, 10%);
      color: $textColor;
      text-shadow: $textGlow;
      box-shadow: $textGlow;
    }
    
    &:active {
      background: lighten($buttonBg, 20%);
    }
  }
  
  &__item:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px solid $inactiveText;
  }
  
  &__item:nth-child(2) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -7px;
  }
}

.active {
  color: #FFFFFF;
  background: darken($buttonBg, 50%);
  
  &:hover {
    background: darken($buttonBg, 50%);
  }
}

@mixin textShadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}