@import "variables";
@import "fonts";

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", Arial, sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/austria.jpg") no-repeat 0 50%;
  background-size: 140%;
  position: absolute;
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.root {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: grid;
  grid: 1fr 4fr / repeat(2, 1fr);
  grid-template-areas: 'header header'
                       'weather map';
  width: 85%;
  height: 85%;
  border-radius: 15px;
  overflow: hidden;
  justify-self: center;
  align-self: center;
  background: url("../assets/images/austria.jpg") no-repeat;
  background-size: 100%;
  font-size: 1.5rem;
  outline: 2px solid darkred;
  
  .header {
    grid-area: header;
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    align-items: center;
    
    .control {
      padding-left: 15px;
      
      &__item {
        text-decoration: none;
        color: $inactiveText;
        display: block;
        width: 50px;
        height: 50px;
        background: $buttonBg;
        border-radius: 8px;
        text-align: center;
        line-height: 55px;
        transition: 200ms;
        
        &:hover {
          background: lighten($buttonBg, 25%);
          color: #FFFFFF;
        }
        
        &:active {
          background: lighten($buttonBg, 10%);
        }
      }

      .selectLang {
        margin: 20px;
        max-width: 300px;
      }

      .custom-select-wrapper {
        position: relative;
        user-select: none;
        width: 100%;
      }

      .custom-style {
        display: flex;
        flex-direction: column;
        border-width: 0 2px 0 2px;
        border-style: solid;
        border-color: #394a6d;
      }

      .custom-style__trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        font-size: 20px;
        font-weight: 300;
        color: #3b3b3b;
        height: 60px;
        line-height: 60px;
        background: #ffffff;
        cursor: pointer;
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: #394a6d;
      }

      .custom-options {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        border: 2px solid #394a6d;
        border-top: 0;
        background: #fff;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
      }

      .custom-style.open .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px 0 22px;
        font-size: 22px;
        font-weight: 300;
        color: #3b3b3b;
        line-height: 60px;
        cursor: pointer;
        transition: all 0.5s;
      }

      .custom-option:hover {
        cursor: pointer;
        background-color: #b2b2b2;
      }

      .custom-option.selected {
        color: #ffffff;
        background-color: #305c91;
      }

      .arrow {
        position: relative;
        height: 15px;
        width: 15px;
      }

      .arrow::before,
      .arrow::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
        transition: all 0.5s;
      }

      .arrow::before {
        left: -5px;
        transform: rotate(45deg);
        background-color: #394a6d;
      }

      .arrow::after {
        left: 5px;
        transform: rotate(-45deg);
        background-color: #394a6d;
      }

      .open .arrow::before {
        left: -5px;
        transform: rotate(-45deg);
      }

      .open .arrow::after {
        left: 5px;
        transform: rotate(45deg);
      }

    }
    
    .search {
      width: 90%;
      justify-self: center;
      align-self: center;
      position: relative;
      
      .voice {
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
        
        .btn {
          color: $inactiveText;
          border: none;

          &:hover {
            background: none;
            color: #ffffff;
          }
          
          .icon-mic {
            position: absolute;
            top: 30%;
            left: 0;
          }
        }
      }
      
      input {
        font-size: 1.5rem;
        background: $semiTransparentBg;
        color: $textColor;
        border: 1px solid transparent;
        padding-left: 60px;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
      }
      
      input:focus, input:active {
        outline:0;
        -webkit-appearance:none;
        box-shadow: none;
        border: 1px solid $textColor;
        border-right: none;
      }
      
      input::placeholder {
        color: $inactiveText;
      }
      
      .input-group .btn {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
        &:focus, &:active {
          outline:0;
          -webkit-appearance:none;
          box-shadow: none;
        }
      }
    }
  }
  
  .weather {
    grid-area: weather;
    background: lighten(green, 50%);
  }
  
  .map {
    grid-area: map;
    background: lighten(black, 50%);
  }
  
}