@import "variables";
@import "fonts";
@import "component";

body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/bg.jpg") no-repeat 0 50%;
  background-size: 140%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.root {
  display: grid;
  width: 100vw;
  height: 100%;
}

.wrapper {
  font-size: 1.5rem;
  position: relative;
  display: grid;
  overflow: hidden;
  align-self: center;
  padding-left: 30px;
  width: 85%;
  height: 85%;
  border-radius: 15px;
  background: url("../assets/images/bg.jpg") no-repeat;
  background-size: cover;
  grid: 200px 4fr / 2fr 1.5fr;
  grid-template-areas: 'header header' 
                       'weather map';
  justify-self: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 5px solid rgba(255, 255, 255, 0.7);

  .darkLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
  }

  .header {
    z-index: 2;
    display: grid;
    align-items: center;
    grid-area: header;
    grid: 1fr / repeat(2, 1fr);
    min-height: 120px;

    .control {
      display: grid;
      align-items: center;
      justify-content: left;
      min-width: 500px;
      max-width: 550px;
      padding-left: 15px;
      grid: 1fr / 1fr 2fr 5fr;

      &__item {
        line-height: 55px;
        display: block;
        width: 50px;
        height: 50px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: 200ms;
        text-align: center;
        text-decoration: none;
        color: $inactiveText;
        border-radius: 8px;
        background: $buttonBg;

        &:hover {
          color: #FFFFFF;
          //background: lighten($buttonBg, 25%);
          box-shadow: $textGlow;
          text-shadow: $textGlow;
        }

        &:active {
          background: lighten($buttonBg, 10%);
        }
      }
    }

    .search {
      position: relative;
      align-self: center;
      width: 90%;
      justify-self: center;

      .voice {
        position: absolute;
        top: 0;
        left: 15px;
        height: 100%;

        .btn {
          color: $inactiveText;
          border: none;

          &:hover {
            color: #FFFFFF;
            background: none;
            text-shadow: $textGlow;
          }

          .icon-mic {
            position: absolute;
            top: 30%;
            left: 0;
          }
        }
      }

      input {
        font-size: 1.5rem;
        font-weight: 200;
        padding-left: 60px;
        color: $textColor;
        border: 1px solid transparent;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        background: $semiTransparentBg;
        text-shadow: $textGlow;
      }

      input:focus, input:active {
        border: 1px solid $textColor;
        border-right: none;
        outline: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }

      input::placeholder {
        color: $inactiveText;
        text-shadow: none;
      }

      .input-group .btn {
        font-size: 1.2rem;
        font-weight: 200;
        text-transform: uppercase;

        &:hover {
          text-shadow: $textGlow;
        }

        &:focus,
        &:active {
          outline: 0;
          box-shadow: none;
          -webkit-appearance: none;
        }
      }
    }
  }

  .weather {
    z-index: 1;
    //outline: 1px dashed blue;
    grid-area: weather;
    //display: grid;
    //grid: 10% 5% 40% 40% / 1fr;
    padding-left: 15px;
    position: relative;
    
    &__location {
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $textColor;

      @include textShadow();
    }

    &__date {
      @include textShadow();
      font-size: 40px;
      letter-spacing: 2px;
      color: $textColor;
    }

    &__condition {
      display: grid;
      height: 300px;
      grid: 1fr 1fr / 1fr 1fr;
    }
    
    &__temperature {
      position: relative;
      letter-spacing: 2px;
      color: $textColor;
      background: rgba(255, 255, 255, 0.5);
      min-height: 270px;
      
      #temperature {
        @include textShadow();
        font-size: 250px;
        font-weight: 700;
        line-height: 100px;
        position: relative;
        top: 30%;
        
        &:after {
          content: '\00B0';
          display: inline-block;
          position: absolute;
          top: 50px;
          right: -50px;
          font-size: 100px;
        }
      }
    }
    
    &__description {
      @include textShadow();
      color: $textColor;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      background: rgba(255, 255, 0, 0.5);
      
      span {
        display: block;
      }
    }
    
    &__icon {
      height: 50%;
      background: rgba(255, 0, 255, 0.4);
    }
    
    &__forecast {
      background: greenyellow;
      min-height: 120px;
    }
  }

  .map {
    z-index: 2;
    //outline: 1px dashed aqua;
    grid-area: map;
  }

}