@import "variables";
@import "fonts";
@import "component";
@import "weather-icons";
@import "mediaQueries";



body {
  font-family: "Montserrat", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 140%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.root {
  display: grid;
  width: 100vw;
  height: 100%;
}

.wrapper {
  font-size: 1.5rem;
  position: relative;
  display: grid;
  overflow: hidden;
  align-self: center;
  width: 85%;
  height: 90%;
  padding-left: 30px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  grid: 150px 4fr / 2fr 1.5fr;
  grid-template-areas: "header header" "weather map";
  justify-self: center;

  .darkLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    background: rgba(0, 0, 0, 0.45);
  }

  .header {
    z-index: 2;
    display: grid;
    align-items: center;
    min-height: 120px;
    grid-area: header;
    grid: 1fr / repeat(2, 1fr);

    .control {
      display: grid;
      align-items: center;
      justify-content: left;
      min-width: 500px;
      max-width: 550px;
      padding-left: 15px;
      grid: 1fr / 1fr 2fr 5fr;

      &__item {
        line-height: 55px;
        display: block;
        width: 50px;
        height: 50px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: 200ms;
        text-align: center;
        text-decoration: none;
        color: $inactiveText;
        border-radius: 8px;
        background: $buttonBg;

        &:hover {
          color: #FFFFFF;
          box-shadow: $textGlow;
          text-shadow: $textGlow;
        }

        &:active {
          background: lighten($buttonBg, 10%);
        }
      }
    }

    .search {
      position: relative;
      align-self: center;
      width: 90%;
      justify-self: center;

      .voice {
        position: absolute;
        top: 0;
        left: 15px;
        height: 100%;

        .btn {
          color: $inactiveText;
          border: none;

          &:hover {
            color: #FFFFFF;
            background: none;
            text-shadow: $textGlow;
          }

          .icon-mic {
            position: absolute;
            top: 30%;
            left: 0;
          }
        }
      }

      input {
        font-size: 1.5rem;
        font-weight: 200;
        padding-left: 60px;
        color: $textColor;
        border: 1px solid transparent;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        background: $semiTransparentBg;
        text-shadow: $textGlow;
      }

      input:focus,
      input:active {
        border: 1px solid $textColor;
        border-right: none;
        outline: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }

      input::placeholder {
        color: $inactiveText;
        text-shadow: none;
      }

      .input-group .btn {
        font-size: 1.2rem;
        font-weight: 200;
        text-transform: uppercase;

        &:hover {
          text-shadow: $textGlow;
        }

        &:focus,
        &:active {
          outline: 0;
          box-shadow: none;
          -webkit-appearance: none;
        }
      }
    }
  }

  .weather {
    position: relative;
    z-index: 1;
    padding-left: 15px;
    grid-area: weather;

    &__location {
      font-size: 2.813rem;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $textColor;

      @include textShadow();
    }

    &__date {
      @include textShadow();
      font-size: 2.188rem;
      letter-spacing: 2px;
      color: $textColor;

      @media screen and (max-width: 1330px) {
        font-size: 1.875rem;
      }
    }

    &__condition {
      display: grid;
      min-width: 600px;
      max-width: 700px;
      height: 300px;
      grid: 1fr 1fr / 1fr 1fr;
    }

    &__temperature {
      position: relative;
      min-height: 270px;
      text-align: center;
      letter-spacing: 2px;
      color: $textColor;

      #temperature {
        @include textShadow();
        font-size: 12.5rem;
        font-weight: 700;
        line-height: 100px;
        position: relative;
        top: 30%;
      }

      .degSign {
        font-size: 7.5rem;
        position: relative;
        top: 20px;
        display: none;
        @include textShadow();
      }
    }

    &__description {
      @include textShadow();
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $textColor;

      & .weather__icon {
        text-align: left;

        i {
          font-size: 6.875rem;
        }
      }

      & .weather__feels,
      & .weather__wind,
      & .weather__humidity {
        span {
          display: inline;
        }
      }

      span {
        display: block;
      }
    }

    &__icon {
      height: 50%;
    }

    &__forecast {
      display: grid;
      min-height: 120px;
      margin-top: 50px;
      grid: 1fr / auto auto auto;

      & .forecast__item {
        @include textShadow();
        display: grid;
        padding-left: 15px;
        color: $textColor;
        grid: 1fr 3fr / 2fr 1fr;
        grid-template-areas: "day day" "temp temp";

        & .day {
          font-size: 1.375rem;
          grid-area: day;
        }

        & .temperature {
          font-size: 4rem;
          line-height: 70px;
          grid-area: temp;
        }
      }
    }
  }

  .map {
    z-index: 2;
    grid-area: map;

    .mapContainer {
      overflow: hidden;
      width: 90%;
      height: 75%;
      opacity: 0.95;
      border-radius: 15px;
    }

    .coordsContainer {
      @include textShadow();
      width: 90%;
      text-align: center;
      color: $textColor;
    }
  }
}

